{% load i18n %}

{% block subject %}
  {% blocktrans %}Account activation on {{ site_name }}{% endblocktrans %}
{% endblock subject %}

{% block text_body %}
  {% blocktrans %}You're receiving this email this email address has been used to register an account on {{ site_name }} that needs to be activated.{% endblocktrans %}

  {% trans "Please go to the following page to activate your account:" %}
  {{ url|safe }}

  {% blocktrans %}The {{ site_name }} team{% endblocktrans %}
{% endblock text_body %}

{% block html_body %}
  <p>{% blocktrans %}You're receiving this email this email address has been used to register an account on {{ site_name }} that needs to be activated.{% endblocktrans %}</p>

  <p>{% trans "Please go to the following page to activate your account:" %}</p>
  <p><a href="{{ url|safe }}">{{ url|safe }}</a></p>

  <p>If the link above does not work then copy and paste this link into your browser {{ url|safe }}</p>

  <p>{% trans "Thanks for signing up!" %}</p>

  <p>{% blocktrans %}The {{ site_name }} team{% endblocktrans %}</p>

{% endblock html_body %}
